.home {
background-color: #282c34;
font-family: 'Source Code Pro', monospace;
color: #1ed245;
}
.section0 {
  margin: 100px,0,100px,0;
  background-color: #222429;
  padding: 50px,0,10px,0;
}
.section1{
  margin: 10px,0,10px,0;
  background-color: #282c34;
  padding: 10px,0,10px,0;
  border: 5px;
  padding: 0,3px;
}
.welcometext {
  text-align: center;
  font-size: 50px;
}
.textareacode {
  resize: none;
  background-color: #222429;
  color:  #1ed245;
}
.youraddress {
  
}
