.home {
background-color: #323232;
font-family: 'Source Code Pro', monospace;
color: #ffff;
}
.section0 {
  margin-left: 50px;
  padding: 50px,0,10px,0;
  font-size: 19px;
}
.section1{
  margin-left: 50px;
  padding: 10px,0,10px,0;
  border: 5px;
  padding: 0,3px;
  font-size: 19px;
}
.welcometext {
  text-align: center;
  font-size: 65px;
}
.textareacode {
  resize: none;
  color:  #ffff;
  font-size: 19px;
}
.youraddress {
  background-color: #222429;
  color: #ffff;
  border-radius: 5px;
  font-size: 19px;
}
.sendmeakitty {
  margin-left: 50px;
  font-size: 19px;
}
