.home {
  background-color: #323232;
  font-family: 'Source Code Pro', monospace;
  color: #ffff;
}

section {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 19px;
}

.welcome-text {
  text-align: center;
  font-size: 65px;
}

.ck-token-image {
  width: 200px;
  height: 200px;
}

.ck-token {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid white;
}

#ck-owned-tokens-list {
  padding-left: 10px;
  list-style-type: none;
}