body {
  font-family: 'Roboto', sans-serif;
}

#headline {
  width: 100%;
  text-align: center;
}

#post-list {
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
}

#message-post-area {
  background-color: #d4d4d4;
  border-radius: 5px;
  padding: 10px;
}

#post-list li {
  margin: 10px;
  background-color: #c7c7c7;
  border-radius: 5px;
  padding: 4px;
}

#message-submit-button {
  background-color: #ff0000;
  color: #ffff;
}
.author {
  text-decoration: underline;
  text-decoration-style: solid;
}
