body {
  font-family: 'Roboto', sans-serif;
}

html{
    background-color: #ffff;
}

#headline {
  width: 100%;
  text-align: center;
}

#post-list {

  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
}

#message-post-area {
  border-radius: 5px;
  padding: 10px;
}

#post-list li {
  margin: 10px;
  background-color: #d6d6d6;
  border-radius: 5px;
  padding: 4px;
}

#message-submit-button {
  background-color: #ff0000;
  color: #ffff;
  border-radius: 7px;
}
